<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.ClubMapper">

    <select id="getClubList" resultType="site.hclub.hyndai.dto.ClubDTO"
            parameterType="site.hclub.hyndai.domain.ClubVO">
          
         SELECT * FROM( 
	         SELECT  
	         	ROWNUM as rn
	         	, T1.clubNo
	         	, T1.clubName
	         	, T1.clubImage
	         	, T1.clubInfo
	         	, T1.clubLoc
	         	, T1.createdAt
	         	, T1.modifiedAt
	         	, T1.useYn
	         	, T1.categoryId
	         	, T1.categoryName
	         FROM(
	       		<include refid="getClubBase"></include>
	       	)T1
       	)T2
       	WHERE T2.rn BETWEEN #{startIndex} AND #{endIndex}
    
    </select>
    <sql id="getClubBase">
		SELECT
		    C.CLUB_NO AS clubNo,
		    C.CLUB_NAME AS clubName,
		    NVL(C.CLUB_IMAGE, 'https://h-clubbucket.s3.ap-northeast-2.amazonaws.com/club/%25E1%2584%2589%25E1%2585%25B3%25E1%2584%258F%25E1%2585%25B3%25E1%2584%2585%25E1%2585%25B5%25E1%2586%25AB%25E1%2584%2589%25E1%2585%25A3%25E1%2586%25BA%2B2024-02-23%2B%25E1%2584%258B%25E1%2585%25A9%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25AB%2B10.24.06.png') AS clubImage,
		    C.CLUB_INFO AS clubInfo,
		    C.CLUB_LOC AS clubLoc,
		    TO_CHAR(C.CREATED_AT,'YYYY-MM-DD') AS createdAt,
		    TO_CHAR(C.MODIFIED_AT,'YYYY-MM-DD') AS modifiedAt,
		    C.USE_YN AS useYn,
		    C.CATEGORY_ID AS categoryId,
		    CA.CATEGORY_NAME AS categoryName
		FROM 
		    CLUB C
		INNER JOIN 
		    CATEGORY CA ON CA.category_id = C.CATEGORY_ID
		WHERE 
		    (#{searchParams} IS NULL OR #{searchParams} = '' OR C.CLUB_NAME LIKE '%' || #{searchParams} || '%')
		ORDER BY 
		    clubNo DESC
    </sql>
    <select id="getClubCnt" resultType="int" parameterType="site.hclub.hyndai.domain.ClubVO">
    	SELECT 
    		COUNT(*) 
    	FROM(
    		<include refid="getClubBase"></include>
    	)T1
    </select>
    <delete id="deleteClubInfo" parameterType="String">
    	DELETE 
    	FROM	CLUB
    		WHERE CLUB_NO = #{clubNo}
    </delete>
    <update id="updateClubUseYn" parameterType="String">
    	DECLARE
		    v_club_no CLUB.club_no%TYPE := #{clubNo};
		BEGIN
		    UPDATE CLUB
		    SET USE_YN = 'Y'
		    WHERE CLUB_NO = v_club_no;
		    
		    COMMIT;
		END;
    </update>


</mapper>