<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.hclub.hyndai.mapper.MemberMapper">

	<select id="getRatingRankList" parameterType="site.hclub.hyndai.dto.MemberDTO" resultType="site.hclub.hyndai.dto.MemberDTO">
		SELECT * FROM(
			 SELECT 
			 	 ROWNUM as rn
	        	, T1.memberNo
	        	, T1.memberId
	        	, T1.memberImage
	        	, T1. memberInterest
	        	, T1.memberRating
	        	, T1.employeeNo
	        	, T1.adminYn
	        	, T1.matchNum
	        	, T1.employeeName
			 FROM (
				<include refid="getMemberBase"></include>
			 ) T1
		 )T2
       	WHERE T2.rn BETWEEN #{startIndex} AND #{endIndex}
	</select>
	<sql id="getMemberBase">
	  SELECT 
	    M.MEMBER_NO AS memberNo,
	    M.MEMBER_ID AS memberId,
	    NVL(M.MEMBER_IMAGE, 'https://h-clubbucket.s3.ap-northeast-2.amazonaws.com/profile/242474.jpg') AS memberImage,
	    M.MEMBER_INTEREST AS memberInterest,
	    M.MEMBER_RATING AS memberRating,
	    M.EMPLOYEE_NO AS employeeNo,
	    M.MEMBER_PW AS memberPw,
	    M.ADMIN_YN AS adminYn,
	    (
	        SELECT COUNT(*)
	        FROM MEMBER_TEAM MT
	        WHERE MT.MEMBER_NO = M.MEMBER_NO
	    ) AS matchNum,
	    E.EMPLOYEE_NAME AS employeeName
	FROM 
	    MEMBER M
	INNER JOIN 
	    EMPLOYEE E ON E.EMPLOYEE_NO = M.EMPLOYEE_NO
	WHERE 
	    (#{searchParams} IS NULL OR #{searchParams} = '' OR E.EMPLOYEE_NAME LIKE '%' || #{searchParams} || '%')
	ORDER BY 
	    M.MEMBER_NO DESC

	</sql>
	<select id="getMemberCnt" resultType="int" parameterType="site.hclub.hyndai.domain.ClubVO">
    	SELECT 
    		COUNT(*) 
    	FROM(
    		<include refid="getMemberBase"></include>
    	)T1
    </select>
</mapper>